<div class="container">
<div class="col-md" id="outerSection">
   <div id="innerSection">
    <table class="table" id="dyTab">
        <thead>
        <%# <tr><th colspan="3"><h1>SMILES</h1></th></tr> %>
        <tr>
            <th scope="col">smiles</th><th scope="col">Add<br>Smile</th><th scope="col">Remove<br>Smile</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
</div>

<section  id="secGenIupac">
    <button name="operation" id="genIupac">Generate IUPACS</button>
    <%# <p></p> %>
</section>

<section  id="secShowIupac">
    <p>
        <table id="iupacTable">
        <tbody>
        </tbody>
        </table>
    </p>
    <button name="operation" id="copy" style="display: none;">Copy IUPACS</button>
    <button name="operation" id="save" style="display: none;">Save IUPACS JSON</button>
</section>
</div>